/* AceArea styles */

:local(.styles) {
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 11%;
  width: 48%;
  max-width: 48%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;

  & div.droppable {
    top: 1%;
  }
}
